* {
  box-sizing: border-box;
  margin: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  min-width: 100vw;
  min-height: 100vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main {
  width: fit-content;
  height: fit-content;
}
form {
  margin: 20px 0;
}
label[for="startStop"] {
  cursor: pointer;
}
input[type="checkbox"] {
  display: none;
  + label[for="startStop"] {
    border-radius: 10px;
    color: white;
    background-color: red;
    padding: 10px;
  }
  &:checked {
    + label[for="startStop"] {
      background-color: green;
    }
  }
}
main {
  background-color: white;
  display: flex;
  div {
    span {
      width: 100px;
      height: 100px;
      background-color: white;
      border: 2px grey solid;
      color: grey;
      display: grid;
      place-items: center;

      &.alive {
        background-color: black;
      }
    }
  }
}
